<h1>Artefact Docs</h1>
<a href='https://github.com/silvermind/artefact_docs' target='_blank'>https://github.com/silvermind/artefact_docs</a>

<!--<h2><%#= Rails.application.secrets.doc_name %></h2>-->
<!--<small><%#= Rails.application.secrets.doc_source %></small>-->

